<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
</head>
<meta charset="UTF-8">
</head>
<body>

<header>
    <h1 th:text="${session.currentBook.getTitle()}"></h1>
</header>
<section>
    <h2 th:text="${session.currentBook.getGenre()}"></h2>
    <h2 th:text="${session.currentBook.getYear()}"></h2>
    <h2>Authors:</h2>
    <ul th:each="author: ${session.currentBook.getAuthors()}">
        <li th:text="${author.getName()}  + '  ' + ${author.getSurname()} "></li>
    </ul>
<!--    <a href="authorList">nazad do listat</a>-->
</section>

</body>
</html>